.advantages {
    background-color: #f6f6f6;
    min-height: 470px;
    padding: 70px 0 78px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__title {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        &_heart {
            margin-top: 34px;
        }
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        a {
            text-decoration: underline;
            color: $main-color;
            text-transform: uppercase;
        }
        &_heart {
            margin-top: 28px;
        }
    }
    &__img {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}